<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>travel</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>logintams</display-name>
    <servlet-name>logintams</servlet-name>
    <servlet-class>p1.logintams</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logintams</servlet-name>
    <url-pattern>/logintams</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logintsms</display-name>
    <servlet-name>logintsms</servlet-name>
    <servlet-class>p1.logintsms</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logintsms</servlet-name>
    <url-pattern>/logintsms</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>newuser</display-name>
    <servlet-name>newuser</servlet-name>
    <servlet-class>p1.newuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newuser</servlet-name>
    <url-pattern>/newuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>emplogin</display-name>
    <servlet-name>emplogin</servlet-name>
    <servlet-class>p1.emplogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>emplogin</servlet-name>
    <url-pattern>/emplogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cusregister</display-name>
    <servlet-name>cusregister</servlet-name>
    <servlet-class>p1.cusregister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cusregister</servlet-name>
    <url-pattern>/cusregister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>employee</display-name>
    <servlet-name>employee</servlet-name>
    <servlet-class>p1.employee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employee</servlet-name>
    <url-pattern>/employee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>empdis</display-name>
    <servlet-name>empdis</servlet-name>
    <servlet-class>p1.empdis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>empdis</servlet-name>
    <url-pattern>/empdis</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>vehicle</display-name>
    <servlet-name>vehicle</servlet-name>
    <servlet-class>p1.vehicle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vehicle</servlet-name>
    <url-pattern>/vehicle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>vehimd</display-name>
    <servlet-name>vehimd</servlet-name>
    <servlet-class>p1.vehimd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vehimd</servlet-name>
    <url-pattern>/vehimd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>trip</display-name>
    <servlet-name>trip</servlet-name>
    <servlet-class>p1.trip</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>trip</servlet-name>
    <url-pattern>/trip</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>payment</display-name>
    <servlet-name>payment</servlet-name>
    <servlet-class>p1.payment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>payment</servlet-name>
    <url-pattern>/payment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>payupdate</display-name>
    <servlet-name>payupdate</servlet-name>
    <servlet-class>p1.payupdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>payupdate</servlet-name>
    <url-pattern>/payupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>driupdate</display-name>
    <servlet-name>driupdate</servlet-name>
    <servlet-class>p1.driupdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>driupdate</servlet-name>
    <url-pattern>/driupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delemp</display-name>
    <servlet-name>delemp</servlet-name>
    <servlet-class>p1.delemp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delemp</servlet-name>
    <url-pattern>/delemp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delvehi</display-name>
    <servlet-name>delvehi</servlet-name>
    <servlet-class>p1.delvehi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delvehi</servlet-name>
    <url-pattern>/delvehi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>print</display-name>
    <servlet-name>print</servlet-name>
    <servlet-class>p1.print</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>print</servlet-name>
    <url-pattern>/print</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>vehimod</display-name>
    <servlet-name>vehimod</servlet-name>
    <servlet-class>p1.vehimod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vehimod</servlet-name>
    <url-pattern>/vehimod</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>place</display-name>
    <servlet-name>place</servlet-name>
    <servlet-class>p1.place</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>place</servlet-name>
    <url-pattern>/place</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>place1</display-name>
    <servlet-name>place1</servlet-name>
    <servlet-class>p1.place1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>place1</servlet-name>
    <url-pattern>/place1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>vehicle1</display-name>
    <servlet-name>vehicle1</servlet-name>
    <servlet-class>p1.vehicle1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vehicle1</servlet-name>
    <url-pattern>/vehicle1</url-pattern>
  </servlet-mapping>
</web-app>